/node_modules
/vendor

.env
.env.*
!.env.example

/public/hot
/public/storage
/storage/*.key

/.phpunit.cache
/.phpunit.result.cache
/.fleet
/.idea
/.vscode
/.vercel

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
